body {
    font-family: 'Nunito', sans-serif;
}

@media (max-width: 420px) {
    .skill {
        padding-left: 30px;
        padding-right: 30px;
    }

    .portfolio {
        margin-top: 10px;
        margin-left: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact {
        margin-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

footer {
    margin-top: 100px;
}